* {
    padding: 0;
    margin: 0;
    font-family: 'Barlow', sans-serif;
    text-transform: uppercase;
    color: black;
}

.rock {
    height: 150px;
    width: 150px;
    display: flex;
    background-color: whitesmoke;
    border: 20px solid red;
    border-radius: 50%;
    justify-content: center;
    cursor: pointer;
    align-items: center;
}

.paper {
    height: 150px;
    width: 150px;
    display: flex;
    background-color: whitesmoke;
    border: 20px solid blue;
    border-radius: 50%;
    justify-content: center;
    cursor: pointer;
    align-items: center;
}

.scissor {
    height: 150px;
    width: 150px;
    display: flex;
    background-color: whitesmoke;
    border: 20px solid yellow;
    border-radius: 50%;
    justify-content: center;
    cursor: pointer;
    align-items: center;
}

.scoreBoard {
    display: flex;
    width: 75%;
    padding: 20px;
    margin-top: 50px;
    align-items: center;
    flex-direction: row;
    justify-content: space-between;
    border: 2px solid hsl(217, 16%, 45%);
    border-radius: 10px;
    font-weight: 700;
}

.scoreBoard .names {
    color: white;
}

.scoreBoard .score {
    border-radius: 10px;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;
    flex-direction: column;
    height: 100px;
    width: 140px;
}

.scoreBoard .score h1 {
    color: hsl(217, 16%, 45%);
    font-size: 50px;
}

.scoreBoard .score h3 {
    color: hsl(229, 64%, 46%);
}

.images {
    display: flex;
    width: 400px;
    justify-content: center;
    align-items: center;
    border: 1px solid red;
    gap: 20px;
    flex-direction: row;
    flex-wrap: wrap;
}

.game {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 100px;
}

.step2 {
    display: none;
    flex-direction: row;
    justify-content: space-between;
    gap: 50px;
    align-items: center;
    width: 75%;
    color: white;
}

.step2 div {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

.main {
    display: flex;
    height: 100vh;
    flex-direction: column;
    align-items: center;
}

.again {
    width: 200px;
    height: 50px;
    background-color: white;
    font-weight: bold;
    text-transform: uppercase;
    border-radius: 10px;
    border: none;
    cursor: pointer;
}

@media (max-width: 375px) {
    .paper {
        height: 20vh;
        width: 30%;
        display: flex;
        background-color: whitesmoke;
        border: 20px solid blue;
        border-radius: 50%;
        justify-content: center;
        cursor: pointer;
        align-items: center;
    }
    .scissor {
        height: 20vh;
        width: 30%;
        display: flex;
        background-color: whitesmoke;
        border: 20px solid yellow;
        border-radius: 50%;
        justify-content: center;
        cursor: pointer;
        align-items: center;
    }
    .rock {
        height: 20vh;
        width: 30%;
        display: flex;
        background-color: whitesmoke;
        border: 20px solid red;
        border-radius: 50%;
        justify-content: center;
        cursor: pointer;
        align-items: center;
    }
    .images {
        display: flex;
        width: 375px;
        justify-content: center;
        align-items: center;
        border: none !important;
        gap: 20px;
        flex-direction: row;
        flex-wrap: wrap;
    }
}